<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Fishflight</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + (session.get('theme') or 'halo.css')) }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('dashboard') }}">Fish Flight</a></h1>
        <div class="header-buttons">
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
            <a href="" class="button">Account Settings</a>
            <div class="dropdown" style="position: relative;">
                <a class="button" onclick="toggleThemeMenu()">Change Theme</a>
                <div class="dropdown-content" id="themeMenu">
                    <form method="POST" action="{{ url_for('set_theme') }}">
                        <button type="submit" name="theme" value="halo.css" class="button">UNSC</button>
                        <button type="submit" name="theme" value="blade_runner.css" class="button">Tyrell</button>
                        <button type="submit" name="theme" value="tron.css" class="button">ENCOM</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content-box">
            <h2>Welcome, {{ username }}!</h2>
            <p>Explore your dashboard and manage your account.</p>
            </div>
        </div>
    </main>
    <script src="static/js/scripts.js"></script>
</body>
</html>