<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Fishflight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + (session.get('theme') or 'halo.css')) }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('dashboard') }}">Fish Flight</a></h1>
        <div class="header-buttons">
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
            <a href="{{ url_for('upload') }}" class="button">Upload Data</a>
            <a href="" class="button">Account Settings</a>
            <div class="dropdown" style="position: relative;">
                <a class="button" onclick="toggleThemeMenu()">Change Theme</a>
                <div class="dropdown-content" id="themeMenu">
                    <form method="POST" action="{{ url_for('set_theme') }}">
                        <button type="submit" name="theme" value="halo.css" class="button">UNSC</button>
                        <button type="submit" name="theme" value="blade_runner.css" class="button">Tyrell</button>
                        <button type="submit" name="theme" value="tron.css" class="button">ENCOM</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content-box">
            <h2>Welcome, {{ username }}!</h2>
            {% if files %}
            <h3>Your Uploaded Files</h3>
            <ul class="file-actions">
                {% for file in files %}
                <li>{{ file.title }} - {{ file.filename }} - {{ file.upload_time.strftime('%Y-%m-%d') }}
                    <div class="file-buttons">
                        <a href="{{ url_for('download_file', file_id=file.id) }}" class="file-button">Download</a>
                        <form action="{{ url_for('delete_file', file_id=file.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="file-button">Delete</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You haven't uploaded any files yet.</p>
            {% endif %}
        </div>
    </main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-container">
        {% for category, message in messages %}
        <div class="flash-message {{ category }} fade-in" onclick="dismissAlert(this)">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <script src="static/js/scripts.js"></script>
</body>
</html>